.container {
    width: 700px;
    margin-top: 50px
}

.glyphicon {
    &.glyphicon-sort, &.glyphicon-filter {
        cursor: pointer;
    }
}

div.area {
    text-align: left;
    width: 150px;
    cursor: pointer;
    padding-top: 6px;

    &.area-show {
        font-weight: bold;
    }

    &.area-hide {
        text-decoration: line-through;
    }
}
