.container {
    width: 700px;
    margin-top: 50px
}

.glyphicon {
    &.glyphicon-sort, &.glyphicon-filter {
        cursor: pointer;
    }
}

div.area-filter {
    display: inline;
    float: left;
    text-align: left;
    width: 150px;
    cursor: pointer;
    padding: 8px;
}
