.container {
    width: 800px;
    margin-top: 50px
}

.glyphicon {
    &.glyphicon-sort, &.glyphicon-filter {
        cursor: pointer;
    }
    &.glyphicon-star {
        font-size: 21px;
        padding-right: 2px;
        color: #999900;
    }
    &.glyphicon-star-empty {
        font-size: 21px;
        padding-right: 2px;
        color: #999900;
    }
}

div.area-filter {
    display: inline;
    float: left;
    text-align: left;
    width: 150px;
    cursor: pointer;
    padding: 8px;
}
